* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  /* color: #212121; */
}

.header {
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  display: flex;
  height: 76px;
  position: sticky;
  background-color: #212121;
  color: white;
  top: 0;
  z-index: 1000;


          /* border: 1px solid #d61c1c; 
       box-shadow: 2px 2px 3px rgb(212, 31, 31); */
      -webkit-box-shadow: 2px 2px 3px #616161;
      -moz-box-shadow: 2px 2px 3px #616161;
}

.header-box-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 45px;
  align-items: center;
}

.header-box-right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 40px;
  flex: 1;
}

.header-box-right-top {
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-right: 64px; */
  margin-bottom: 4px;
  
}

.header-links-number{
  /* margin-right: 104px; */
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.header-links {
  padding-left: 12px;
  font-weight: bold;
  font-size: large;
}

.main {
  display: flex;
  flex-direction: column;
}

.first-screen {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 76px);
  justify-content: center;
  align-items: center;
  /* height: 668px; */
/*  background-color: aliceblue;
  position: relative;*/
}

/*.background-video-container {
  background-color: rgb(5, 5, 5);
  opacity: .3;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}*/

/*.background-video {
  width: 100%;
  height: 100%;
}*/

/* .first-screen-box {
   margin-top: 250px;
  margin-bottom: 250px;
  margin-left: 150px;
  margin-right: 150px;
} */

.first-screen-title {
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

.first-screen-description {
  text-align: center;
  font-size: large;
  margin-left: 200px;
  margin-right: 200px;
}

.about-me-screen {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen-title {
  display: flex;
  height: 76px;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  background-color: #212121;
  box-shadow: 0px 0px 9px 3px rgba(73, 72, 72, 0.25);
  border: 1px solid #616161; 
       box-shadow: 0px 0px 24px #616161;
      -webkit-box-shadow: 2px 2px 3px #616161;
      -moz-box-shadow: 2px 2px 3px #616161;
}

.about-me-box {
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
    box-shadow: 8px 8px 8px 4px rgba(207, 207, 212, 0.342);
  border: 1px solid #F5F5F5;
  border-radius: 1%;
}

.about-me-box-title {
      font-size: 32px;
    font-weight: bold;
    margin-bottom:44px;
}

.about-me-container {
  display: flex;
  justify-content: center;

}

.about-me-screen-left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 90%;
  width: 90%;
}

.about-me-screen-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 30px;
 /* overflow: hidden;*/
}

.about-me-screen-left-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; */
  width: 450px;
  height: 450px;
  position: relative;
  overflow: hidden;
  border-radius: 4%;
}

.about-me-screen-photo {
  /* height: auto; 
  width: 55%; */
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;

}

.about-me-screen-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 30px;
}


.group-container {
  display: flex;
  justify-content: space-between;
}

.about-me-screen-right-description {
  flex: 1;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.group-container {
  margin-bottom: 25px;
}

.group-container .block-container:first-child {
  margin-right: 10px;
}

.block-container {
  margin-bottom: 12px;
  flex: 1;
}


.block-title {
  font-weight: 500;
  font-size: 24px;
  margin-right: inherit;
  color: '#212121';
}

.block-text {
  /* font-weight: 500; */
  font-size: 16px;

}

.block-text li {
  list-style-type: none; /* Убираем маркеры */
}

.block-text ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

/* .screen-title {
  height: 50px;
  border: 5px solid rgb(255, 0, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
} */

 .training-screen {
   height: 500px;
  display: flex;
   margin-left: 204px;
  margin-right: 204px; 
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 8px 8px 8px 4px rgba(207, 207, 212, 0.342);
  border: 1px solid #f5f5f5e1;
  border-radius: 1%;
} 

.training-screen-left {
  flex: 1;
}

.training-screen-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-image: url(assets/images/tick.png);
}

.training-screen-right .training-screen-block:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.training-screen-block {
  flex: 1;
}

.training-screen-right-title {
  justify-content: center;
  align-items: center;
  display: flex;
}

.training-screen-right-title-description {
  justify-content: center;
  align-items: center;
  display: flex;
}

.training-screen-right-title-description ul {
  margin-top: 60px;
}

.service-screen-price-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-screen-price-bottom {
  display: flex;
  justify-content: space-around;
}

.service-screen-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-screen-personal {
  flex: 1;
}

.service-screen-personal-price {
  flex: 1;
}

.price-screen-container {
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-container {
  height: 90%;
  width: 20%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  margin: 44px;
  border-radius: 1%;
  box-shadow: 8px 8px 8px 4px rgba(207, 207, 212, 0.342);
  align-items: center;
  border: 1px solid #F5F5F5;
  /* justify-content: center; */
}

.price-currency {
  font-size: 12px;
}

.service-screen-grup {
  flex: 2;
}

.service-screen-grup-price {
  flex: 2;
}

.price-by-person {
  font-size: 12px;
  color:#757575
}

/* .training-screen {
  height: 400px;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
} */

.service-shot-screen-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-shot-screen-left-title {
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-shot-screen-left-title-description {
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-gum-screen-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-gum-screen-right-title {
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-gum-screen-right-title-description {
  justify-content: center;
  align-items: center;
  display: flex;
}

.price-title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-screen {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.price-screen-box {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.price-screen-attention {
  padding-left: 64px;
}

.price-subscription-training-types {
  margin-top: 24px;
  margin-bottom: 24px;
}

.price-subscription-training-types-line {
  height: 2px;
  width:100%;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 12px;
}

.vl {
    border-left: 4px solid rgb(0, 0, 0);
    height: 500px;
    margin-top: 12px;
}

.service-price-container {
  margin-left: 10px;
  margin-right: 8px;
}

.price-or {
  margin-left:6px;
}

.price-sum-training {
  display: flex;
}*/

.price-subscription-training{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.price-culc-training-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.contacts-screen {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-item-text {
  margin-top: 14px;
}

.social-media-item img{
  width: 100%;
  height: 100%;
}

.footer {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




