* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  user-select: none;
  color: #212121;
}



.header {
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  display: flex;
  height: 76px;
  position: sticky;
  background-color: #212121;
  color: white;
  top: 0;
  z-index: 1000;

  -webkit-box-shadow: 2px 2px 3px #616161;
  -moz-box-shadow: 2px 2px 3px #616161;
}

.header-box-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 45px;
  align-items: center;
}

.header-box-right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 40px;
  flex: 1;
}

.header-box-right-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4px;
  
}

.header-links-number{
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: background-color 1s linear;
}

.header-links-number:hover{
  color: #f38609;
}

.header-link {
  cursor: pointer;
  padding-left: 12px;
  font-weight: bold;
  font-size: large;
  color: white;
  transition: background-color 1s linear;
}

.header-link:hover {
  color: #f38609;
  }

.main {
  display: flex;
  flex-direction: column;
}

.first-screen {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 76px);
  justify-content: center;
  align-items: center;
}

.background-video-container {
  background-color: rgb(5, 5, 5);
  opacity: .3;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.first-screen-title {
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  font-size: xx-large;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.first-screen-title._active {
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  transform: translate(0px, 0px);
  opacity: 1;
}

.first-screen-description {
  text-align: center;
  font-size: large;
  margin-left: 200px;
  margin-right: 200px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}

.first-screen-description._active {
  text-align: center;
  font-size: large;
  margin-left: 200px;
  margin-right: 200px;

  transform: translate(0px, 0px);
  opacity: 1;
}

.about-me-screen {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  padding: 20px;
  border-top: 1px solid #E0E0E0;
}

.about-me-box {
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 8px 4px rgba(207, 207, 212, 0.342);
  border: 1px solid #F5F5F5;
  border-radius: 1%;
}

.about-me-box-title {
      font-size: 32px;
    font-weight: bold;
    margin-bottom:44px;
}

.about-me-container {
  display: flex;
  justify-content: center;
}

.about-me-screen-left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 450px;
  width: 450px;
}

.about-me-screen-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 30px;
}

.about-me-screen-left-container {
  width: 450px;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.about-me-screen-photo {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;

}

.about-me-screen-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 30px;
}


.group-container {
  display: flex;
  justify-content: space-between;
}

.about-me-screen-right-description {
  flex: 1;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.group-container {
  margin-bottom: 25px;
}

.group-container .block-container:first-child {
  margin-right: 10px;
}

.block-container {
  margin-bottom: 12px;
  flex: 1;
}


.block-title {
  font-weight: 500;
  font-size: 24px;
  margin-right: inherit;
  color: '#212121';
}

.block-text {
  font-size: 16px;

}

.block-text li {
  list-style-type: none;
}

.block-text ul {
  margin-left: 0; 
  padding-left: 0;
}

.training-screen {
  height: 500px;
  display: flex;
  margin-left: 10%;
  margin-right: 10%; 
  margin-bottom: 50px;
  box-shadow: 8px 8px 8px 4px rgba(207, 207, 212, 0.342);
  border: 1px solid #f5f5f5e1;
  border-radius: 1%;
} 

.training-screen-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.training-screen-box {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.training-screen-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-image: url(assets/images/tick.png);
}

.training-screen-right .training-screen-block:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.training-screen-block {
  flex: 1;
}

.training-screen-right-title h2 {
  margin-bottom: 10px;
}

.training-screen-right-title {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.training-screen-right-title._active {
  justify-content: center;
  align-items: center;
  display: flex;

  transform: translate(0px, 0px);
  opacity: 1;
}

.training-screen-right-title-description {
  justify-content: center;
  align-items: center;
  display: flex;
}

.training-points li{
  transform: translate(-30%, 0px);
  transition: all 0.3s ease 0s;
}

.training-points._active li:nth-child(1){
  transition: all 0.8s ease 0s;
}

.training-points._active li:nth-child(2){
  transition: all 0.8s ease 0.1s;
}

.training-points._active li:nth-child(3){
  transition: all 0.8s ease 0.2s;
}

.training-points._active li:nth-child(4){
  transition: all 0.8s ease 0.3s;
}

.training-points._active li:nth-child(5){
  transition: all 0.8s ease 0.4s;
}

.training-points._active li:nth-child(6){
  transition: all 0.8s ease 0.5s;
}

.training-points._active li{
  transform: translate(0px, 0px);
}

.training-screen-right-title-description ul {
  margin-top: 60px;
}

.service-screen-price-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-screen-price-bottom {
  display: flex;
  justify-content: space-around;
}

.service-screen-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-screen-personal {
  flex: 1;
}

.service-screen-personal-price {
  flex: 1;
}

.price-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-discount {
  color: #424242;
}

.price-container {
  height: 550px;
  width: 350px;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  margin: 44px;
  border-radius: 1%;
  box-shadow: 8px 8px 8px 4px rgba(207, 207, 212, 0.342);
  align-items: center;
  border: 1px solid #F5F5F5;
  transition: 1s;
}

   .price-container:hover {
    transform: scale(1.1);
   }

.price-currency {
  font-size: 12px;
}

.service-screen-grup {
  flex: 2;
}

.service-screen-grup-price {
  flex: 2;
}

.price-by-person {
  font-size: 12px;
  color:#757575
}

.service-shot-screen-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-shot-screen-left-title {
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-shot-screen-left-title-description {
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-gum-screen-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-gum-screen-right-title {
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-gum-screen-right-title-description {
  justify-content: center;
  align-items: center;
  display: flex;
}

.price-title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-screen {
  min-height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
}

.price-screen-box {
  /* height: calc(100vh - 152px); */
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.price-screen-attention {
  flex: 1;
  margin-bottom: 44px
}

.price-subscription-training-types {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-subscription-training-types-line {
  width: 200px;
  background-color: #212121;
  margin-top: 12px;
  margin-bottom: 12px;
}

.vl {
    border-left: 4px solid rgb(0, 0, 0);
    height: 500px;
    margin-top: 12px;
}

.service-price-container {
  margin-left: 10px;
  margin-right: 8px;
}

.price-or {
  margin-left:6px;
}

.price-sum-training {
  display: flex;
}*/

.price-subscription-training{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.price-subscription-training {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.price-culc-training-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.contacts-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.social-media-item:hover {
  transform: scale(1.2);
}

.social-media-item-text {
  margin-top: 14px;
}

.social-media-item img{
  width: 100%;
  height: 100%;
}

.footer {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #212121;
}

.footer div {
  color: white;
}

.display-mobile {
  display: none;
}

/* Burger start */

.burger-menu_button {
  z-index: 100000000;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #ececec;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  display: flex;
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #fff8fe;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 18px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Burger end */

@media only screen and (max-width: 500px) {
  .about-me-screen {
    height: 1442px;
  }

  .about-me-box-title {
    font-size: 41px;
  }

  .block-title {
    font-size: 38px;
  }

  .block-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1260px) {
  .price-container {
    width: 250px;
  }
}


@media only screen and (max-width: 920px) {
  h1 {
    font-size: 48px;
  }

    h2 {
    font-size: 33px;
  }

  .first-screen {
    background-color: honeydew;
  }

  .background-video-container {
    height: 0px;
    width: 0px;
  }

  .price-screen-container {
      flex-wrap: wrap;
  }

  .price-container {
    width: 350px;
  }

  .about-me-screen {
    border-top: 1px solid #E0E0E0;
    height: 1100px;
  }

  .about-me-container {
      flex-wrap: wrap;
  }

  .header-box-left {
    padding-left: 0;
  }

  .header-box-right-container {
    margin-right: 0;
  }

  .display-web {
    display: none;
  } 

  .display-mobile {
    display: block;
  }

  .price-screen {
    height: 2056px;
  }

  .price-screen-box {
    height: 1944px;
  }

  .training-screen {
    height: 1092px;
    flex-wrap: wrap;
  }

  .training-screen-container img{
    width: 400px;
    height: 400px;
  }

  .training-screen-right-title-description {
    font-size: 24px;
  }
  
  .service-screen-price-bottom {
    font-size: 26px;
  }
}






