* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  color: #212121;
}

.header {
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  display: flex;
  height: 76px;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1000;
}

.header-box-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 45px;
  align-items: center;
}

.header-box-right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 40px;
  flex: 1;
}

.header-box-right-top {
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-right: 64px; */
  margin-bottom: 4px;
  
}

.header-links-number{
  /* margin-right: 104px; */
  font-weight: bold;
  font-size: 14px;
  color: #424242;
}

.header-links {
  padding-left: 12px;
  font-weight: bold;
  font-size: large;
}

.main {
  display: flex;
  flex-direction: column;
}

.first-screen {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 76px);
  justify-content: center;
  align-items: center;
  /* height: 668px; */
/*  background-color: aliceblue;
  position: relative;*/
}

/*.background-video-container {
  background-color: rgb(5, 5, 5);
  opacity: .3;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}*/

/*.background-video {
  width: 100%;
  height: 100%;
}*/

/* .first-screen-box {
   margin-top: 250px;
  margin-bottom: 250px;
  margin-left: 150px;
  margin-right: 150px;
} */

.first-screen-title {
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

.first-screen-description {
  text-align: center;
  font-size: large;
  margin-left: 200px;
  margin-right: 200px;
}

.about-me-screen {
  height: calc(100vh - 76px);
  border: 5px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-screen h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

.about-me-screen-left {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid orange;
  flex: 1;
 /* overflow: hidden;*/
}

.about-me-screen-left-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; */
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.about-me-screen-photo {
  /* height: auto; 
  width: 55%; */
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;

}

.about-me-screen-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid orangered;
  flex: 1;
}

.about-me-container {
  display: flex;
  flex: 1;
  width: 100%;
}
.group-container {
  display: flex;
  justify-content: space-between;
}

.about-me-screen-right-description {
  flex: 1;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.group-container {
  margin-bottom: 25px;
}

.group-container .block-container:first-child {
  margin-right: 10px;
}

.block-container {
  margin-bottom: 12px;
  flex: 1;
}


.block-title {
  font-weight: 500;
  font-size: 24px;
  color: '#212121';
}

.block-text {
  /* font-weight: 500; */
  font-size: 16px;

}

.block-text li {
  list-style-type: none; /* Убираем маркеры */
}

.block-text ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.services-title {
  height: 50px;
  border: 5px solid rgb(255, 0, 242);
  display: flex;
  align-items: center;
  justify-content: center;
}

.training-screen {
  /* height: 400px; */
  border: 5px solid rgb(128, 178, 34);
  display: flex;
  /* padding-top: 50px; */
  padding-left: 140px;
  padding-right: 140px;
}

.training-screen-left {
  flex: 1;
  border: 5px solid rgb(69, 42, 143);
}

.training-screen-right {
  flex: 1;
  border: 5px solid firebrick;
  display: flex;
  flex-direction: column;
}

.training-screen-right .training-screen-block:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.training-screen-block {
  flex: 1;
}

.training-screen-right-title {
  border: 5px solid rgb(65, 118, 131);
  justify-content: center;
  align-items: center;
  display: flex;
}

.training-screen-right-title-description {
  border: 5px solid rgb(37, 238, 11);
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-screen-price-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(36, 34, 178);
}

.service-screen-price-bottom {
  display: flex;
  justify-content: space-around;
  border: 5px solid firebrick;
}

.service-screen-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-screen-personal {
  border: 5px solid rgb(13, 233, 13);
  flex: 1;
}

.service-screen-personal-price {
  border: 5px solid rgb(65, 118, 131);
  flex: 1;
}

.price-container {
  font-size: 14px;
}

.price-currency {
  font-size: 12px;
}

.service-screen-grup {
  border: 5px solid rgb(206, 130, 15);
  flex: 2;
}

.service-screen-grup-price {
  border: 5px solid rgb(9, 247, 255);
  flex: 2;
}

.price-by-person {
  font-size: 12px;
  color:#757575
}

.training-screen {
  height: 400px;
  border: 5px solid rgb(0, 255, 234);
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
}

.training-screen-right {
  flex: 1;
  border: 5px solid rgb(69, 42, 143);
}

.service-shot-screen-left {
  flex: 1;
  border: 5px solid firebrick;
/*  justify-content: center;
  align-items: center;*/
  display: flex;
  flex-direction: column;
}

.service-shot-screen-left-title {
  border: 5px solid rgb(65, 118, 131);
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-shot-screen-left-title-description {
  border: 5px solid rgb(37, 238, 11);
  justify-content: center;
  align-items: center;
  display: flex;
}

.training-screen-left {
  flex: 1;
  border: 5px solid rgb(69, 42, 143);
}

.service-gum-screen-right {
  flex: 1;
  border: 5px solid firebrick;
/*  justify-content: center;
  align-items: center;*/
  display: flex;
  flex-direction: column;
}

.service-gum-screen-right-title {
  border: 5px solid rgb(65, 118, 131);
  justify-content: center;
  align-items: center;
  display: flex;
}

.service-gum-screen-right-title-description {
  border: 5px solid rgb(37, 238, 11);
  justify-content: center;
  align-items: center;
  display: flex;
}

.price-title {
  height: 100px;
  border: 5px solid rgb(255, 0, 242);
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-screen {
  height: calc(100vh - 76px);
  border: 5px solid rgb(255, 0, 157);
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-screen-container {
  height: 90%;
  width: 90%;
  border: 5px solid rgb(94, 63, 82);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price-container {
  height: 90%;
  width: 30%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 1%;
  box-shadow: 8px 8px 8px 4px rgba(207, 207, 212, 0.342);
}

.price-options-training {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-plus {
  margin-left: 10px;
  margin-right: 10px;
}

.price-double {
  /* margin-left: 10px; */
  margin-right: 4px;
}

.service-price-container {
  margin-left: 10px;
}

.price-or {
  margin-left:6px;
}

.contacts-screen {
  height: 160px;
  border: 5px solid rgb(0, 183, 255);
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}

.social-media-item {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-item-text {
  margin-top: 14px;
}

.social-media-item img{
  width: 100%;
  height: 100%;
}

.footer {
  height: 50px;
  border: 5px solid #c8ff00;
  display: flex;
}




